[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple"

[packages]
jupyter = "*"
notebook = "*"
nbextensions = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
"autopep8" = "*"
yapf = "*"
pillow = "*"
matplotlib = "*"
mysql-connector = "*"
pysnooper = "*"

[dev-packages]

[requires]
python_version = "3"
