[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
notebook = ">=5.7.8"
clipboard = "*"
jupyter-contrib-nbextensions = "*"
yapf = "*"
matplotlib = "*"
ipympl = "*"
nbtutor = "*"

[requires]
python_version = "3.5"
